@{
    ViewData["Title"] = "Левша AI";
    
}


<input type="hidden" id="main-url" value="@ViewBag.MainUrl">
<input type="hidden" id="user-uid" value="@ViewBag.Uid">


<div class="bg">
    
    <div class="bg-dark header">
        <img class="logo" src="~/img/logo.png">
    </div>


    <div class="centered">
        <div class="text-group">
            <div class="text-container">
                <div class="text" id="text" style="overflow-y:auto;">
                    
                </div>
            </div>
        </div>

        
        <div class="bottom_content_panel">
            
        </div>
        
        
        <div class="bottom-panel">
            <div class="bottom_button" id="sendContent"><img class="icon" src="img/attachment-svgrepo-com.svg" alt="dots icon"></div>
            <input class="input-text" type="text"/>
            <div class="bottom_button" id="sendMessage"><span>Отправить</span></div>
        </div>
        
        <div class="status">
            
        </div>
        
    </div>


    <img class="master" src="~/img/master.png" alt="Master"/>
    <form style="display:none;" id="params">
        <input type="text" name="prompt" value=""/>
    </form>
    <input style="display: none" id="formFileMultiple" type="file" accept="image/png, image/jpeg"/>
    
    <script src="js/Chat.js"></script>
</div>
